<?xml version='1.0' encoding='utf-8'?>
<widget id="com.fourten.peppa" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>PePPA</name>
    <description>
        Take care of your own personal pet that tends to your schedule in return! It will be your assistant that helps you set your alarm, remind you of important days (midterms or birthdays), recommend what to wear depending on the weather and much more! PePPA will be an interactive scheduler/planner that changes depending on how well you maintain your tasks. Plan ahead and have fun with it too with the assistance of PePPA!
    </description>
    <author email="" href="">
        Team PRIORITY
    </author>
    <icon density="mdpi" platform="android" src="www/img/launcher_icon_alt1.png" />
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <feature name="Notification">
        <param name="android-package" value="org.apache.cordova.dialogs.Notification" />
    </feature>
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="Fullscreen" value="true" />
        <splash src="www/img/SpashScreen.png" density="land-mdpi" />
        <splash src="www/img/SpashScreen.png" density="port-mdpi" />
    </platform>
    <preference name="xwalkVersion" value="14+" />
    <preference name="xwalkCommandLine" value="--disable-pull-to-refresh-effect" />
    <preference name="xwalkMode" value="embedded" />
</widget>
