/*CORDOVA GENERATED*/

html {
    -webkit-user-select: none;
}

.open a, .open a:hover {
    padding: 7px 15px;
    background-color: #000;
    border-radius: 3px;
}
.open { 
    color: #fff;
    position: absolute;
}
.open.left {
    left: 20px;
    cursor: pointer;
}
.panel {
    background: #7F8C8D;
    color: #ECF0F1;
}
.panel a {
    color: #FFF !important;
    text-shadow: 0 0 0 rgba(0,0,0,0);
    font-size: 14px;
    padding: 15px 20px 15px 60px;
    display: block;
    text-decoration: none;
    border-bottom: 1px solid #475657;
    border-top: 1px solid #95A5A6;
    position: relative;
    font-weight: 400;
}
.panel ul {
    padding: 0;
    margin: 0;
    list-style: none;
    border-bottom: 1px solid #95A5A6;
}
.panel .avatar {
    position: absolute;
    top: 8px;
    left: 20px;
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
	margin-left: auto;
	margin-right: auto;
}
.panel a:hover {
    background-color: #95A5A6;
}
.panel.left a:before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 15px;
    left: 20px;
    font-family: 'hk-demo';
    text-align: center;
    font-size: 18px;
}
.title {
    font-size: 24px;
}
.header{
    color:#F0F0F0;
}

/*NOT APP GENERATED*/

*:not(input,textarea) {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

#panel, #flip{
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}

#panel {
    padding: 50px;
    display: none;
}

.bi-invalid-input {
background-color:#fffacd!important;
}

.bi-invisible {
display:none;
}